<div align="center" ><h1><b>Assignment 5</b></h1></div>

<p><h4><b>2. List the 3 main things you need to do in order achieve your professional goals.</b></h4></p>
<p>1.- Primeramente tener muy claro que es lo que quieres hacer y lograr.</p>
<p>2.- Segundo, tener mucha disciplina y aplicar tus buenos valores en todo lo que realizes en el camino de tus metas porque yo creo que no hay nada mejor que hacer las cosas bien y con <b>honestidad</b>.</p>
<p>3.- Y tercero, PERSISTENCIA. La persistencia es fundamental para lograr tus metas porque es 100% seguro que vas a tropezar en más de una ocasión pero lo importante es seguir levantándote y seguir luchando por lo que quieres y aprendiendo de tus errores.</p>