<div align="center" ><h1><b>Assignment 4</b></h1></div>


<p><a href="https://github.com/fidelfcastro/CloudComputing">URL GitHub </a></p>

<p><u>Trabajo colaborativo con Miguel Martinez para popular los "Drop Downs" con los personajes (Me ayudo)</u></p>


<div>
    Character 1:
    <select ng-model="selectedName" ng-options="x for x in charactersName">
    </select>
    <br>
    Character 2:
    <select ng-model="selectedName2" ng-options="x for x in charactersName">
    </select>
    <br>

</div>

<input type button ng-click="go()">Go</inputbutton>


<p><h4><b>Que es una Promesa:</b></h4></p>
<p>Es un ojeto en js que te permite contruir o manejar nosotros mismos para manejar actividades asyncronas. </p>
<p><h4><b>Que es un Callback:</b></h4></p>
<p>Es una función que se debe ejecutar después de ejecutar otra función.</p>
<p><h4><b>Diferencia entre Promesa y Callback:</b></h4></p>
<p>Una promesa no puede hacer nada que un callback no pude hacer. Sin embargo, puede representar una abstraccion del resultado de una operación asincrónica. </p>