<div align="center" ><h1><b>Assignment 3</b></h1></div>


<p><a href="https://github.com/fidelfcastro/CloudComputing">URL GitHub </a></p>

<p><u>Trabajo colaborativo con Miguel Martinez para popular los "Drop Downs" con los personajes (Me ayudo)</u></p>


<div>
    Character 1:
    <select ng-model="selectedName" ng-options="x for x in charactersName">
    </select>
    <br>
    Character 2:
    <select ng-model="selectedName2" ng-options="x for x in charactersName">
    </select>
    <br>

</div>

<button>Go</button>


